body {
	font-family: "Roboto", sans-serif;
	text-align: center;
}

#dicecontainer {
	margin-right: auto;
	margin-left: auto;
	font-size: 100pt;
	text-align: center;
	margin-top: 10%;
	margin-bottom: 5%;
}

.dicebutton {
	font-size: 16pt;
	user-select: none;
	-moz-user-select: none;
	margin: 10px;
	cursor: pointer;
	padding: 5px;
	border: 2px solid black;
	border-radius: 1px;
	transition: color .5s, border-color .5s;
	-webkit-transition: color .5s, border-color .5s;
}

.dicebutton:hover {
	color: blue;
	border-color: blue;
}

.roll-outcome {
	padding: 10px;
}