html {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	background-color: black;
}

#title {
	font-family: 'Electrolize', sans-serif;
	text-align: center;
	font-size: 50pt;
	color: red;
	cursor: default;
}

#title-container {
	width: 100%;
	height: 100%;
	
}

#centerbutton {
	border-radius: 1px;
	border-style: solid;
	border-color: red;
	margin: 40px;
	width: 200px;
	font-family: 'Electrolize', sans-serif;
	font-size: 14pt;
	color: red;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
}

#centerbutton:hover {
	width: 250px;
}

#centerbutton:active {
	border-color: #900000;
	color: #900000;
	width: 250px;
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a {
	text-decoration: none;
}

#splashscreen {
	height: 100%;
}

#customize {
	opacity: 0;
}

#game {
	opacity: 0;
}

#about {
	opacity: 0;
}
