html {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	background-color: #1F000F;
}

h1 {
	font-family: 'Electrolize', sans-serif;
	text-align: center;
	font-size: 50pt;
	color: red;
}

#title-container {
	width: 100%;
	height: 100%;
}

.centerbutton {
	border-radius: 1px;
	border-style: solid;
	border-color: red;
	margin: 40px;
	width: 200px;
	font-family: 'Electrolize', sans-serif;
	font-size: 14pt;
	color: red;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}