body {
	font-family: "Roboto", sans-serif;
	text-align: center;
}

#dicecontainer {
	margin-right: auto;
	margin-left: auto;
	font-size: 100pt;
	text-align: center;
	margin-top: 10%;
	margin-bottom: 5%;
}

.dicebutton {
	font-size: 16pt;
	user-select: none;
	-moz-user-select: none;
	margin: 10px;
	cursor: pointer;
	padding: 7px;
	border: 2px solid black;
	border-radius: 1px;
	transition: color .2s, background-color .2s;
	-webkit-transition: color .2s, background-color .2s;
}

.dicebutton:hover {
	background-color: hotpink;
	color: white;
}

.roll-outcome {
	padding: 10px;
}

#dm-tools-toggle {
	font-size: 10pt;
	user-select: none;
	-moz-user-select: none;
	margin: 10px;
	cursor: pointer;
	padding: 5px;
	transition: color .5s;
	-webkit-transition: color .5s;
}

#dm-tools-toggle:hover {
	color:blue;
}

#picturecontainer {
	position: fixed;
	bottom: 0;
	right: 0;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	cursor: pointer;
}

a {
	text-decoration: none;
	color: black;
}



#spacer {
	height: 300px;
}

#dm-tools {
	display: none;
}

.about {
	text-align: center;
}

#spacer-200 {
		margin-top: 200px;
}