html, body
/*body {
	background-color: #F2F2F2;
}*/

{
	width: 99%;
	height: 100%;
}

.header {
	font-family:"Arvo";
	font-size:40px;
	z-index: 2;
	position: fixed;
	padding-top: 5px;
	color: white;
	width: 99%;
	text-align: center;
}

.banner {
	background-color: #52AEFF;
	position: fixed;
	height: 55px;
	border-bottom: #4B92D1;
	border-radius: 3px;
	z-index: 1;
	width: 99%;
}

.formwrapper {
	font-family: "Raleway";
	padding-top: 100px;
	text-align: center;
	color: #52AEFF;
	position: relative;
	max-height: 99%
}

.rules {
	font-family: "Raleway";
	bottom: 2px;
	width: 99%;
	text-align: center;
	color: white;
	position: fixed;
	font-size: 12px;
}

.footer {
	background-color: #52AEFF;
	position: fixed;
	bottom: 0;
	height: 15px;
	border-radius: 3px;
	z-index: -1;
	width: 99%;
}