html {
	width: 100%;
	height: 100%
	overflow: hidden;
}

body {
	width: 100%;
	height: 100%;
	background-color: #1A1A14;
	overflow-x: hidden;
}

.link {
	font-family: "Poiret One", cursive;
	color: white;
	font-size: 16pt;
}

a {
	color: white;
	text-decoration: none;
	padding: 3px;
}

a:hover {
	background-color: #9E1D1D;
	border-radius: 1px;
}

#bg-image {
	left: 0px;
	top: 0px;
	position: fixed;
	z-index: -10;
	float: right;
	overflow: hidden;
}

#spacer-200 {
	padding-top: 10%;
}

#spacer-7 {
	padding-top: 7px;
}