html {
	width: 100%;
	height: 100%
	overflow: hidden;
}

body {
	width: 100%;
	height: 100%;
	background-color: #96b5b4;
	overflow-x: hidden;
}

.link {
	font-family: "Raleway";
	color: white;
}

a {
	color: white;
	text-decoration: none;
}

bg-image {
	align: "right";
	z-index: -1;
	height: 100%;
}