html, body {
	width: 100%;
	margin: 0;
}

* {
	font-family: "Roboto" !important;
	font-size: 11pt !important;
}

.container {
	margin: auto;
	width: 80%;
}

textarea {
	width: 100%;
}

button {
	margin: auto;
}