[submodule "streaker"]
	path = streaker
	url = https://github.com/adriangarza/streaker.git
[submodule "cu-lunch"]
	path = cu-lunch
	url = https://github.com/adriangarza/cu-lunch.git
[submodule "boneplain"]
	path = boneplain
	url = https://github.com/garzaa/boneplain.git
