body {
	color: #d0d0c0;
	background-color: #1b1b1d;
}

.hero-container {
	background-image: linear-gradient(to right top, #312A6C, #852D91);
}

#mainpage {
	background-color: #2b2b2d;
}

a, #secrets a:hover {
	color: #32b7ef;
}

a:hover {
	color: #64d2ff;
}

#secrets a {
	color: #383838;
}

#portrait-container {
	background-color: #2b2b2d;
}