html, body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;

}

body {
	background-color: #2b2b2d;
	text-align: center;
    background-repeat: no-repeat;
	color: #FFF0D6;
}

a {
    text-decoration: none;
	color: inherit;
    transition: color .1s ease;
    -webkit-transition: color .1s ease;
}

a:hover, .activetab {
    color: #EE7469;
}

h2 {
	margin-top: 5vh;
	font-family: "Roboto Mono";
	font-size: 12pt;
	font-weight: 200;
}

#tabs {
    display: inline-block;
    margin-top: 10pt;
    padding-bottom: 5pt;
}

.tab {
	transition: .2s;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-size: 20pt;
    font-weight:600;
	color: #FFF0D6;
    transition: color .2s ease;
    padding-bottom: 10pt;
}

.activetab {
	color: #EE7469;
}


    #apps{
        margin-left: 3vw;
    }

	#games {
		margin: 0vw 3vw;
	}

	#writing {
		margin-right: 3vw;
	}

#aboutlist>li {
    text-align: left;
    margin-top: 2em;
	color: #FFF0D6;
	font-weight: 400;
}

#aboutlist {
    width: 30vw;
    min-width: 20em;
}

ul {
    margin-top: 15pt;
	font-family: "Open Sans";
	font-weight: 500;
	font-style: normal;
    list-style-type: none;
	display: inline-block;

}

li {
        margin-top: 5vh;
		color: #EE7469;
}

h1 {
	font-size: 3em;
	font-family: "Open Sans";
	font-weight: 600;
    margin-bottom: 1vh;
	color: #FFF0D6;
}

#line {
    width: 100%;
    height: 2px;
    background-color: #EE7469;
    transition: .2s ease;
}
