h1 {
	font-family: "Roboto Mono", monospace;
	font-size: 100pt;
	font-weight: 800;
	color: #255ed5;
	max-width: 50%;
	text-shadow:
		-1px -1px 0 rgb(240, 240, 255),  
		1px -1px 0 rgb(240, 240, 255),
		-1px 1px 0 rgb(240, 240, 255),
		1px 1px 0 rgb(240, 240, 255);

	-webkit-touch-callout: none; /* iOS Safari */
		-webkit-user-select: none; /* Safari */
		-khtml-user-select: none; /* Konqueror HTML */
			-moz-user-select: none; /* Firefox */
			-ms-user-select: none; /* Internet Explorer/Edge */
				user-select: none; /* Non-prefixed version, currently
									supported by Chrome and Opera */
}

.splash-container {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #255ed5;
	flex-direction: column;
}

html, body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

#content {
	font-family: "Fira Sans";
	background-color: rgb(240, 240, 255);
}

.text-container {
	max-width: 40em;
}

p {
	color: rgb(240, 240, 255);
	font-weight: 200;
}

a {
	color: inherit;
	transition: .2s;
}

a:hover {
	color: white;
}

.text-container {
	background-color: #255ed5;
	padding: 2rem;
}

#canvas-container, h1{
	position: absolute;
}