html, body, div, span {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #fafafa;
    font-family: "Roboto", sans-serif;
    background-image: url("nightbg.jpg");
    background-size: cover;
}

#searchbar-container {
    width: 100%;
    height: 5vh;
    margin-top: 2vh;

    /*
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.25);
    */
    text-align: center;
    cursor: text;
}

#searchbar {
    /* a lot of the weird stuff here is for centering */
    border: none;

    margin-left: auto;
    margin-right: auto;
    height: 4vh;
    min-height: 50px;
    position: relative;
    top: 50%;
    transform: translateX(-50%);
    transform: translateY(-50%);

    font-size: 18pt;
    color: rgba(113, 133, 163, .95);

    color: dodgerblue;
    border-bottom: 2px solid dodgerblue;

    opacity: 0.5;

    background-color: rgba(0, 0, 0, 0);
    -webkit-transition: width .1s ease;
    width: 0px;
    opacity: 0;
}

::selection {
    color: white;
    background-color: dodgerblue;
}

#searchbar:focus {
    width: 30vw;
    outline: none;
    opacity: 1;
}

#searchbar:hover {
    opacity: 1;
}

#searchbar::-webkit-search-cancel-button{
    display:none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  opacity: .25;
}
::-moz-placeholder { /* Firefox 19+ */
  opacity: .25;
}
:-ms-input-placeholder { /* IE 10+ */
  opacity: .25;
}
:-moz-placeholder { /* Firefox 18- */
  opacity: .25;
}

#stripe {
    margin-top: 100px;
    text-align: center;
}

#clock {
    color: rgb(161, 161, 161);
    font-weight: 300;
    font-size: 40pt;
    display: inline;
    text-align: center;
    padding: 20px 40px 40px 40px;
    transition: width .1s ease;
    -webkit-transition: width .1s ease;
}

#date {
    color: rgb(161, 161, 161);
    font-weight: 400;
    font-size: 12pt;

}

.card {
    padding: 20px;
    /*background-color: white;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.20);
    -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.20);
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.20);*/
}

.cardcolumn {
    width: 150px;
    padding: 20px;
    margin: 0px 20px;
    /*background-color: white;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.20);
    -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.20);
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.20);*/
    text-align: center;
    float: left;
    transition: box-shadow .1s ease;
}

.cardcolumn:hover {
    /*border-bottom: 3px solid mediumseagreen;
    /*-webkit-box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.20);
    -moz-box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.20);
    box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.20);*/
}

#cards-holder {
    display: table;
    margin: auto;
    margin-top: 0px;
}

li {
    text-align: left;
    margin: 10px;
    list-style:none;
    color: rgb(161, 161, 161);
}

a {
    color: rgb(161, 161, 161);
    text-decoration: none;
    transition: color .1s ease;
}

a:hover {
    color: dodgerblue;
}
