#terminal {
    margin: auto;
    min-width: 400px;
    font-family: 'Source Code Pro', serif;
    font-size: 12pt;
    color: white;
    background-color: black;
    width: 25vw;
    height: 80%;
}

html, body {
    height: 100%;
}
