body {
  background-color: white;
}

.dicebutton {
	color: black;
	border: 2px solid black;
}

.dicebutton:hover {
	color: blue;
	border-color: blue;
}

.roll-outcome {
	color: black;
}

#outcome-container {
	color: black;
}
