body {
	font-family: "Roboto", sans-serif;
	text-align: center;
	  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;
  background: rgba(2,0,25,1);
}

html {
	margin: 0;
	padding: 0;
	height: 100%;
}

#dicecontainer {
	margin-right: auto;
	margin-left: auto;
	font-size: 100pt;
	text-align: center;
	margin-top: 10vh;
	margin-bottom: 10vh;
}

.dicebutton {
	font-size: 16pt;
	user-select: none;
	-moz-user-select: none;
	margin: 10px;
	cursor: pointer;
	padding: 5px;
	color: blue;
	border-bottom: 2px solid blue;
	transition: .2s ease;
}

.dicebutton:hover {
	color: #00aaff;
	border-color: #00aaff;
}

.dicebutton:active {
	color: #00aaff;
	border-color: #00aaff;
	background-color: rgba(0, 0, 255, .2)
}

.roll-outcome {
	padding: 10px;
	color: blue;
	cursor: default;
}

#dm-tools-toggle {
	font-size: 10pt;
	user-select: none;
	-moz-user-select: none;
	margin: 10px;
	cursor: pointer;
	padding: 5px;
	transition: color .5s;
	-webkit-transition: color .5s;
}

#dm-tools-toggle:hover {
	color:blue;
}

a {
	text-decoration: none;
	color: black;
}



.spacer {
	height: 300px;
}

#dm-tools {
	display: none;
}

#epilepsy:hover {
	color: red;
	border-color: red;
}
