body {
	font-family: "Roboto", sans-serif;
	text-align: center;
	  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;
  background: rgba(2,0,25,1);
  margin: 0;
  height: 100%;
}

#dicecontainer {
	margin-right: auto;
	margin-left: auto;
	font-size: 100pt;
	margin-top: 10vh;
	margin-bottom: 5vh;
	max-width: 50vw;
	min-width: 400px;
}

.dicebutton {
	font-size: 16pt;
	user-select: none;
	-moz-user-select: none;
	margin: 10px;
	display: inline-block;
	cursor: pointer;
	padding: 5px;
	color: blue;
	border-bottom: 2px solid blue;
	transition: .2s ease;
}

.dicebutton:hover {
	color: #00aaff;
	border-color: #00aaff;
}

.dicebutton:active {
	color: #00aaff;
	border-color: #00aaff;
	background-color: rgba(0, 0, 255, .2)
}

.roll-outcome {
	padding: 0vw 1vw;
	color: blue;
	cursor: default;
	display: inline-block;
}

.buttons-container, .outcome-text {
	width: 30vw;
	min-width: 400px;
	margin: auto;
}

#longbuttons {
	min-width: 500px;
}

#outcome-container {
	color: blue;
}

#outcome-title {
	font-size: 20pt;
	text-align: left;
	width: 30vw;
	margin: auto;
}

#outcome-text {
	font-size: 14pt;
	line-height: 150%;
	text-align: left;
	width: 30vw;
	margin: auto;
	margin-bottom: 10vh;
}
