html, body, span {
    margin: 0;
    padding: 0;
    border: 0;
    overflow-x: hidden;
    height: 100%;
}

body {
    background-color: #ffffff;
    font-family: "Roboto Mono";
}

#editor {
    background-color: white;
    width: 50%;
    min-height: 71vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 5em;
    color: rgb(50, 50, 50);
    font-size: 11pt;
    border: none;
    outline: none;
    font-family: inherit;

    padding: 6em;

    resize: none;

    white-space: pre;
}

.card {
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.20);
    -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.20);
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.20);
}

#editor:focus {
    outline: none;
    border: none;
}

::selection {
    color: rgb(50, 50, 50);
    background-color: yellow;
}
