/*css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

body {
	background-color: #c41d4a;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23c42180'/%3E%3Cstop offset='1' stop-color='%23c42180' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23e94c10'/%3E%3Cstop offset='1' stop-color='%23e94c10' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23e9141d'/%3E%3Cstop offset='1' stop-color='%23e9141d' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23c41d4a'/%3E%3Cstop offset='1' stop-color='%23c41d4a' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23c425b4'/%3E%3Cstop offset='1' stop-color='%23c425b4' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffd412'/%3E%3Cstop offset='1' stop-color='%23ffd412' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	font-size: 12pt;
}

#terminal-container {
	width: 80vw;
	height: 80vh;
	overflow-y: scroll;
	margin: auto;
	margin-top: 10vh;
	font-family: "Roboto Mono";
	background-color: var(--bg2);
	/* box-shadow: 10px 10px 0px 0px var(--shadow); */
	animation: rise .7s;
	overflow: hidden;
}

#terminal {
	padding: 20pt;
}

#input {
	display: inline-block;
}

#input:focus {
	outline: none;
}

.prompt, #input, .input-old {
	white-space: pre;
	color: var(--body1);
}

.output {
	white-space: pre;
	color: var(--body2);
}

/* ========= editing ========== */
#editArea {
	outline: none;
	resize: none;
	border: none;
	font-size: inherit;
	font-family: "Roboto Mono";
	color: var(--body1);
	background-color: var(--editbg);
}

/* ======= will be changed on the fly ========= */
:root {
	--body1: lightgray;
	--body2: gray;
	--bg1: #2b2b2d;
	--bg2: #1b1b1d;
	--editbg: #0b0b0d;
	--shadow: #0b0b0d;
	--highlight: pink;
}

::selection {
	background: var(--highlight);
	color: var(--bg2);
}

@keyframes rise {
	from {
		transform: scale(.99);
		box-shadow: 0px 0px 0px 0px var(--shadow);
	}
}

#terminal > .output {
	animation: fadeup .2s;
	animation-fill-mode: forwards;
}

@keyframes fadeup {
	from {
		opacity: 0;
		transform: translateX(-.5rem);
	}
}