#terminal-inner {
    position: absolute;
    bottom:30pt;
    width: inherit;
    color: inherit;
    background-color: inherit;
}

.termline {
    word-wrap: break-word;
    max-width: 24vw;
    margin: 0px;
}

#terminal {
    position: relative;
    overflow: hidden;
    padding-left: 10px;
}

#input {
    width: inherit;
    font-family: inherit;
    font-size: 12pt;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: inherit;
    position: absolute;
    bottom:0px;
    padding: 5px 0px 10px 0px;
}

#commandline {
    color: inherit;
    font-family: inherit;
    font-size: 12pt;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    width: 80%;
}

#commandline:focus {
    outline: none;

}

#arrow {
    float: left;
}
