body {
	background-color: rgb(20,20,20)
}

p {
	margin-left: 30vw;
	cursor: pointer;
	font-family: "Open Sans", sans-serif;
	color: rgb(100,100,100);
	transition: color .2s;
	-webkit-transition: color .2s;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

p:hover {
	color: #A760AE;
}

#prev {
	margin-top: 3%;
}

#pause {
	color: #A760AE;
}

#trackbar {
	width: 0%;
	height: 3px;
	background-color: #A760AE;
}

span {
	font-family: "Open Sans", sans-serif;
	color: rgb(100,100,100);
}

#songName {
	margin-left: 30vw;
	color: #A760AE;
	font-size: 20pt;
	margin-right: 20px;
}

div {
	color: #A760AE;
}

#title {
	font-size: 12pt;
	cursor: default;
}

#title:hover {
	color: rgb(100,100,100)
}


.text {
	font-size: 10pt;
	cursor: default;
	max-width: 30vw;
}

.text:hover {
	color: rgb(100,100,100);
}