.container {
    text-align: center;
    margin-top: 30vh;
}

input, button, #output {
    font-size: 20pt;
    outline: none;
    border: none;
    background-color: white;
    font-family: sans-serif;
}

input {
    margin: .3em;
    border-bottom: 2px solid lightgray;
    transition: .1s;
}
input:focus {
    border-bottom: 2px solid dodgerblue;
}

button {
    background-color: dodgerblue;
    color: white;
    cursor: pointer;
    padding: 0.5em 0em;
    transition: .1s;
}

button:active {
    background-color: deepskyblue;
}

#output {
    margin-top: 5vh;
    text-align: left;
    display: inline-block;
}

@media (min-width: 800px) {
    input {
        width: 30vw;
    }
    button {
        width: 10vw;
    }
    #output {
        word-wrap: normal;
        max-width: 40vw;
    }
}

@media (max-width: 800px) {
    input {
        width: 100%;
        margin: 0;
    }
    button {
        width: 100%;
        margin: .5em 0em;
    }
}
